<div class="row">
  <div class="col-auto contenitore" >
  <ul>
    <h1>Utenti in lista</h1>
      <li *ngFor="let item of utenti">
          {{item.id}}# {{item.name}}
      </li>
  </ul>
  </div>

  <div class="col-auto contenitore">
    <h1>Inserisci un id utente per scoprire info aggiuntive</h1>
    <input class="form-control col-2" [(ngModel)]="idutente"/>
    <br>
    <button class="btn btn-primary" type="submit" (click)="getUtenteService(idutente)">cerca</button>
    
    <table class="table-responsive">
      <br>
      <tr><th>Nome</th><th>Username</th></tr>
      <tr *ngFor="let item of utente"><td>{{item.name}}</td><td class="text-center">{{item.username}}</td></tr>
    
    </table>
      <div class="div-mappa">
        <h3>Indirizzo sulla mappa</h3>
        <div class="mappa" id="map"></div>
      </div>
  </div>
</div>

